/* 主题色调 按钮，icon 链接和标签*/

$theme-color: #f8b428;

/* 辅助色调 用于金额数字，出错样式等 */

$assist-color: #e31111;

/* 文字颜色*/

$base-color: #666;
$light-color: #999;
// 其他变量
$base-size: 26rpx;
$green: #48AC30;
$red: #E31111;